annotated-types==0.7.0 ; python_full_version == "3.12.3"
anyio==4.4.0 ; python_full_version == "3.12.3"
certifi==2024.7.4 ; python_full_version == "3.12.3"
cfgv==3.4.0 ; python_full_version == "3.12.3"
charset-normalizer==3.3.2 ; python_full_version == "3.12.3"
click==8.1.7 ; python_full_version == "3.12.3"
colorama==0.4.6 ; python_full_version == "3.12.3" and sys_platform == "win32" or python_full_version == "3.12.3" and platform_system == "Windows"
distlib==0.3.8 ; python_full_version == "3.12.3"
fastapi==0.100.1 ; python_full_version == "3.12.3"
filelock==3.15.4 ; python_full_version == "3.12.3"
h11==0.14.0 ; python_full_version == "3.12.3"
httptools==0.6.1 ; python_full_version == "3.12.3"
identify==2.6.0 ; python_full_version == "3.12.3"
idna==3.7 ; python_full_version == "3.12.3"
nodeenv==1.9.1 ; python_full_version == "3.12.3"
platformdirs==4.2.2 ; python_full_version == "3.12.3"
pre-commit==3.7.1 ; python_full_version == "3.12.3"
pydantic-core==2.20.1 ; python_full_version == "3.12.3"
pydantic==2.8.2 ; python_full_version == "3.12.3"
python-dotenv==1.0.1 ; python_full_version == "3.12.3"
pyyaml==6.0.1 ; python_full_version == "3.12.3"
redis==5.0.8 ; python_full_version == "3.12.3"
requests==2.32.3 ; python_full_version == "3.12.3"
sniffio==1.3.1 ; python_full_version == "3.12.3"
spotipy==2.24.0 ; python_full_version == "3.12.3"
starlette==0.27.0 ; python_full_version == "3.12.3"
typing-extensions==4.12.2 ; python_full_version == "3.12.3"
urllib3==2.2.2 ; python_full_version == "3.12.3"
uvicorn[standard]==0.23.2 ; python_full_version == "3.12.3"
uvloop==0.19.0 ; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_full_version == "3.12.3"
virtualenv==20.26.3 ; python_full_version == "3.12.3"
watchfiles==0.22.0 ; python_full_version == "3.12.3"
websockets==12.0 ; python_full_version == "3.12.3"
